* {
    font-family: Georgia;
    color: white;
    margin: 0;
}
.baner, .stopka{
    background-color: maroon;
    text-align: center;
    padding: 2px;
}
.stopka{
    clear: both;
}
.lewy, .srodek, .prawy{
    float: left;
    background-color: lightsalmon;
    height: 527px;    
}
.lewy, .prawy {
    width: 15%;
}
.srodek{
    width: 70%;
}
.miniatury{
    background-color: maroon;
}
button{
    background-color: lightsalmon;
    color: maroon;
    border: none;
    font-size: 400%;
    display: block;
    margin: auto;
    padding-top: 210px;
}
.zdjecie{
    height: 70px;
    animation-duration: 4s;
    from { margin-left: 50px;}
    to { margin-left: 0px;}
}
#main{
    display: block;
    margin: auto;
    padding-top: 45px;
}
#main:hover{
    animation-duration: 5s;
    from { size: 100%;};
    to { size: 120%;};
}