* {
    font-family: Georgia;
    margin: 0;
}
.baner1, .baner2{
    background-color: navy;
    color: white;
    text-align: center;
    height: 100px;
    width: 50%;
    float: left;
}
.menu{
    background-color: navy;
    padding: 20px;
}
.form{
    color: silver;
    margin: 50px;
}
.form:hover{
    color: white;
    text-decoration: underline;
}
.lewy, .prawy{
    background-color: azure;
    height: 550px;
}
.lewy {
    width: 70%;
    float: left;
}
.prawy{
    width: 30%;
    float: left;
}
.stopka{
    background-color: navy;
    color: white;
    clear: both;
}
table{
    border: 1px navy solid;
    margin: auto;
    width: 70%;
}
td:hover{
    background-color: skyblue;
}
.obraz2{
    width: 90%;
}